.form  {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vidContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}